---
interface Props {
    img: string;
    title: string;
    description?: string;
    link?: string;
    url?: string;
    imgClass: string;
}

const { description, img, link, title, url, imgClass } = Astro.props;
---

<div class="group relative">
    <img src={img} class={`${imgClass} transition-all group-hover:blur-lg`} />
    <div
        class="absolute inset-0 z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-between p-2"
    >
        <div class="flex flex-col">
            <span class="text-4xl">{title}</span>
            {description ? <span class="text-xl">{description}</span> : null}
        </div>
        {
            url ? (
                <div class="flex align-center gap-1 hover:underline bg-white text-black w-fit rounded-full p-2">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right"
                    >
                        <>
                            <path d="M7 7h10v10" />
                            <path d="M7 17 17 7" />
                        </>
                    </svg>
                    <a href={url} target="_blank">
                        {link}
                    </a>
                </div>
            ) : null
        }
    </div>
</div>
